BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false # Clang-format 14: consider PackConstructorInitializers: CurrentLine
BinPackParameters: false
# EmptyLineAfterAccessModifier: true, # Clang-format 14
# EmptyLineBeforeAccessModifier: true, # Clang-format 14
AlignAfterOpenBracket: AlwaysBreak # Clang-format 14: consider `BlockIndent`
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PointerAlignment: Middle
ReferenceAlignment: Left
Cpp11BracedListStyle: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
StatementMacros:
  - DCL_CONSTRUCTOR
  - DCL_NOINLINE
  - DCL_ALWAYS_INLINE
  - DCL_NORETURN
  - DCL_UNUSED
  - DCL_CONSTEXPR
WhitespaceSensitiveMacros:
  - DCL_META_STRINGIFY
